@model IE_Clinics.Models.Dominio.Medicamento

@{
    ViewBag.Title = "Adicionar fármaco";
}

<div>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default"})
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-head">
                <header>Formulário</header>
                <button id="panel-button"
                        class="mdl-button mdl-js-button mdl-button--icon pull-right"
                        data-upgraded=",MaterialButton">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="panel-button">
                    <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                    <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                    <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                </ul>
            </div>
            <div class="card-body" id="bar-parent">
                @using (Html.BeginForm("Create", "Medicamentos", FormMethod.Post, new { @id = "form_sample_1", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-body">
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Nome
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                @Html.TextBoxFor(model => model.Nome, new { @placeholder = "Nome do fármaco", @class = "form-control input-height" })
                                @Html.ValidationMessageFor(model => model.Nome)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Descrição
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                @Html.TextAreaFor(model => model.Descricao, new { @placeholder = "Descrição", @class = "form-control input-height" })
                                @Html.ValidationMessageFor(model => model.Descricao)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Quantidade
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                @Html.TextBoxFor(model => model.Quantidade, new { @placeholder = "Quantidade", @class = "form-control input-height" })
                                @Html.ValidationMessageFor(model => model.Quantidade)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Valor
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                @Html.TextBoxFor(model => model.Valor, new { @placeholder = "Valor", @class = "form-control input-height" })
                                @Html.ValidationMessageFor(model => model.Valor)
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" class="btn btn-info m-r-20">Salvar</button>
                                    <a href="@Url.Action("Index", "Medicamentos", new { area = "" })" class="btn btn-default">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>