@model IEnumerable<IE_Clinics.Models.Dominio.Paciente>
@{
    ViewBag.Title = "Lista de pacientes";
}

<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line">
            <div class="tab-content">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-red">
                                <div class="card-head">
                                    <header></header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                        @*<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>*@
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="btn-group">
                                                <a href="@Url.Action("Adicionar-Paciente", "Paciente", new { area = ""})" id="addRow" class="btn btn-info">
                                                    Adicionar paciente <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class="btn-group pull-right">
                                                    <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">
                                                        Tools
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-print"></i> Print
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-file-pdf-o"></i> Save as PDF
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-file-excel-o"></i> Export to Excel
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="table-scrollable">
                                        <table class="table table-hover table-checkable order-column full-width" id="example4">
                                            <thead>
                                                <tr>
                                                    <th> Nome </th>
                                                    <th class="center"> Sexo </th>
                                                    <th class="center"> D. Nascimento </th>
                                                    <th class="center"> Endereço </th>
                                                    <th class="center"> Telefone </th>
                                                    <th class="center"> Opções </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var paciente in Model)
                                                {
                                                <tr class="odd gradeX">
                                                    <td>@paciente.Nome</td>
                                                    <td class="center">@paciente.Sexo</td>
                                                    <td class="center">@paciente.DataNascimento.ToShortDateString()</td>
                                                    <td class="center">@paciente.Endereco</td>
                                                    <td class="center">@paciente.Telefone</td>
                                                    <td class="center">
                                                        <div class="btn-group">
                                                            <button class="btn btn-xs btn-primary dropdown-toggle center no-margin" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                Opções
                                                                <i class="fa fa-angle-down"></i>
                                                            </button>
                                                            <ul class="dropdown-menu pull-left" role="menu">
                                                                <li>
                                                                    <a href="@Url.Action("Efectuar-Marcacao", "Marcacao", new { area = "", nome = paciente.ID,id = paciente.ID})"><i class="fa fa-clock-o"></i> Efectuar marcação </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"><i class="fa fa-eye"></i> Detalhes </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"><i class="fa fa-pencil"></i> Editar </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"><i class="fa fa-trash-o"></i> Eliminar </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>