@model IE_Clinics.Models.Dominio.Paciente

@{
    ViewBag.Title = "Detalhes do paciente";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box border-gray">
            <div class="user-bg">
                <div class="overlay-box">
                    <div class="user-content">
                        <h4 class="text-white">Detalhes do paciente</h4>
                        <h4 class="text-white">@Model.Nome</h4>
                        <h5 class="text-white">@Model.Email</h5>
                    </div>
                </div>
            </div>
            <div class="user-btm-box">
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-primary"><i class="fa fa-phone"></i></p>
                        <h6>Telefone</h6> <b><i class="ti-mobile"></i> @Model.Telefone</b>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-success"><i class="fa fa-mobile"></i></p>
                        <h6>Telefone alternativo</h6> <b><i class="ti-mobile"></i> @Model.TelefoneAlternativo</b>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-danger"><i class="fa fa-clock-o"></i></p>
                        <h6>Data de nascimento</h6> <b><i class="ti-mobile"></i> @Model.DataNascimento.ToShortDateString()</b>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-primary"><i class="fa fa-globe"></i></p>
                        <h6>País</h6> <b><i class="ti-mobile"></i> @Model.Pais</b>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-danger"><i class="fa fa-map-marker"></i></p>
                        <h6>Província</h6> <b><i class="ti-mobile"></i> @Model.Provincia</b>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-success"><i class="fa fa-map"></i></p>
                        <h6>Endereço</h6> <b><i class="ti-mobile"></i> @Model.Endereco</b>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-primary"><i class="fa fa-user"></i></p>
                        <h6>Sexo</h6> <b><i class="ti-mobile"></i> @Model.Sexo</b>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <p class="text-danger"><i class="fa fa-clock-o"></i></p>
                        <h6>Grupo sanguíneo</h6> <b><i class="ti-mobile"></i> @Model.GrupoSanguineo</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>